@model CoursesAndStudents

@{
    ViewData["Title"] = "Enroll Student";
}

<h1>@ViewData["Title"]</h1>

<p>Enroll a student in an available course.</p>
<form asp-action="EnrollStudent" method="post">
    <div class="form-group">
        <label>Select a student: </label>
        <select name="students">
            @foreach (var student in Model.Students)
            {
                <option value="@student.StudentNumber">@student.FirstName @student.LastName - @student.StudentNumber</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Select a course: </label>
        <select name="courses">
            @foreach (var course in Model.Courses)
            {
                <option value="@course.CourseCode">@course.CourseCode - @course.CourseName</option>
            }
        </select>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Enroll Student" />
    </div>
</form>